# By default, require reviews from the maintainers for all files.
* @muzansano/omniform-cli-maintainers

# The following files don't need reviews from the maintainers.
# These patterns override the rule above.
**/*.md
/docs/